{include file="header.tpl.html" title=$title}

<center>
<h2> {$title} </h2>
<form action="/cs/action/ilan/ilan-ekle.php" method="post" id="form" enctype = "multipart/form-data">
<table border="0">
<tr><td >Baþlýk:</td><td>&nbsp;&nbsp;<input type="text" name="title" id="title"  size="30" maxlength="64" value=""/></td></tr>
<tr><td>Pozisyon: </td><td>&nbsp;&nbsp;<input type="text" name="position" id="position"  size="30" maxlength="64" value=""/></td></tr>
<tr>
  <td>Taným:</td>
  <td>&nbsp;&nbsp;<textarea name="description" id="description" rows="5" cols="50" value=""/></textarea></td></tr>
 
<tr><td colspan="2" align="center"><input type="submit" name="register" value=" Ýlan Ekle "/></td> </tr>
</table>

</form>
</center>


{include file="footer.tpl.html"}