{include file="header.tpl.html" title=$title}

<center>
  {foreach $users as $user}

<h2> {$title} </h2>
<form action="/cs/action/kullanici/kullanici-duzenle.php" method="post" id="form" enctype = "multipart/form-data">
<table border="0">
<tr><td >Ad:</td><td>&nbsp;&nbsp;<input type="text" name="uname" id="uname"  size="30" maxlength="64" value="{$user.uname}"/></td></tr>
<tr><td>Soyad: </td><td>&nbsp;&nbsp;<input type="text" name="usurname" id="usurname"  size="30" maxlength="64" value="{$user.usurname}"/></td></tr>
<tr>
  <td>E-posta:</td>
  <td>&nbsp;&nbsp;<input type="text" name="uemail" id="uemail"  size="30" maxlength="100" value="{$user.uemail}"/></td></tr>
  
  <tr>
  <td>Kullanýcý Tipi:</td>
  <td>&nbsp;&nbsp;<select name="type">
  <option>Kullanýcý Tipi Seç</option>
  <option value="1">Yönetici</option>
  <option value="2">Teknik</option>
  <option value="3">Sekreter</option>
  
</select></td></tr>
<td><input type="hidden" name="id" value="{$user.userID}"></a></td>
 <br><br> 
<tr><td colspan="2" align="center"><input type="submit" name="register" value=" Düzelt "/></td> </tr>
</table>

</form>
{/foreach}
</center>


{include file="footer.tpl.html"}